<%- include('../layouts/adminheader.ejs') -%>

<h2 class="page-title mb-5">Add a page</h2>

<a href="/admin/categories" class="btn btn-primary">Back to all categories</a>
<br /><br />

<form method="POST" action="/admin/categories/add-category">
  <div class="mb-3">
    <label class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      name="title"
      value="<%= title %>"
      placeholder="Title"
    />
  </div>
  <button type="submit" class="btn border border-primary">Submit</button>
</form>
<%-include('../layouts/adminfooter.ejs') -%>
