<%- include('layouts/header') -%>
<div class="swiper">
  <div class="swiper-wrapper">
    <!-- Slides -->

    <div class="swiper-slide">
      <div class="overlay"></div>
      <img src="/images/slide_images/img1.jpg" alt="" />

      <div class="content">
        <h1>
          Furniture that <br />
          everyone <br />
          love
        </h1>
        <p>
          We have 5000+ Review and our customers trust on our <br />
          furniture and Quilty products.
        </p>
        <button>
          <a class="btn fw-bold" href="/products">Our Prodcuts</a>
        </button>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="overlay"></div>
      <img src="/images/slide_images/img2.jpg" alt="" />
      <div class="content">
        <h1>
          Furniture that <br />
          everyone <br />
          love
        </h1>
        <p>
          We have 5000+ Review and our customers trust on our <br />
          furniture and Quilty products.
        </p>
        <button>
          <a class="btn fw-bold" href="/products">Our Prodcuts</a>
        </button>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="overlay"></div>
      <img src="/images/slide_images/img3.jpg" alt="" />
      <div class="content">
        <h1>
          Furniture that <br />
          everyone <br />
          love
        </h1>
        <p>
          We have 5000+ Review and our customers trust on our <br />
          furniture and Quilty products.
        </p>
        <button>
          <a class="btn fw-bold" href="/products">Our Prodcuts</a>
        </button>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="overlay"></div>
      <img src="/images/slide_images/img4.jpg" alt="" />
      <div class="content">
        <h1>
          Furniture that <br />
          everyone <br />
          love
        </h1>
        <p>
          We have 5000+ Review and our customers trust on our <br />
          furniture and Quilty products.
        </p>
        <button>
          <a class="btn fw-bold" href="/products">Our Prodcuts</a>
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  const swiper = new Swiper(".swiper", {
    speed: 400,
    loop: true,
    autoplay: {
      delay: 2000,
    },
  });
</script>
<%- include('layouts/footer') -%>
